name: Web Deployment

on:
  push:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install wasm32-unknown-unknown target
      run: rustup target add wasm32-unknown-unknown

    - name: Install wasm-bindgen
      run: cargo install wasm-bindgen-cli

    - name: Copy static site artifacts
      run: |
        mkdir ./_site/
        cp -r ./assets ./_site/
        cp web/index.html ./_site/

    - name: Build wasm
      run: |
        cargo build --release --target wasm32-unknown-unknown
        wasm-bindgen --no-typescript --target web --out-dir ./_site/wasm/ --out-name "greeting_card" ./target/wasm32-unknown-unknown/release/greeting_card.wasm

    - name: Upload artifacts
      uses: actions/upload-pages-artifact@v4

  deploy:
    permissions:
      id-token: write
      pages: write
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}

    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
